@use '../../styles/variables' as v;

.needs {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    h3 {
        font: v.$font-h3;
        color: v.$text-color;
    }

    p {
        font: v.$font-text;
        line-height: 1.5;
    }

    ul {
        list-style-type: disc;
        padding-left: 1.5rem;

        li {
            margin-bottom: .5rem;
            font: v.$font-text;
            line-height: 1.5;
        }
    }
}