@use '../../styles/variables' as v;

.siteFooter {
    box-sizing: border-box;
    width: 100%;
    padding: 1rem;

    @media (min-width: 768px) {
        padding: 1rem;
        margin: auto;
        max-width: v.$container-max-width;
    }

    .footerGrid {
        background-color: v.$secondary-color;
        display: grid;
        grid-template-columns: 1fr;
        max-width: v.$container-max-width;
        padding: 2rem 1rem;
        margin: 0 auto;

        hr {
            grid-column: 1 / -1;
            width: 100%;
            border: 0;
            border-top: 1px solid #0b0b0b;
            margin: 1rem 0;
        }

        @media (min-width: 768px) {
            grid-template-columns: repeat(3, 1fr);
            gap: 1rem;
            padding: 1rem;
                hr {
                    display: none;
                }
        }
    }

    .footerSection {
        margin-bottom: 1rem;
        h3 {
        text-align: left;
            font: v.$font-h3;
            margin-bottom: 1.2rem;
            color: v.$black;
        }

        .contactItem {
            display: flex;
            align-items: flex-start;
            gap: 12px;
            margin-bottom: 1rem;

            svg {
                color: v.$primary-color;
                flex-shrink: 0;
                margin-top: 3px;
            }

            p {
                margin: 0;
                line-height: 1.4;
            }

            a {
                color: v.$primary-color;
                text-decoration: none;
                line-height: 1.4;

                &:hover, &:focus {
                    text-decoration: underline;
                    color: v.$hover-color;
                    outline: none;
                }
            }
        }

        p, a {
            font: v.$font-text-link;
            color: v.$primary-color;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }

        ul {
            list-style: none;
            padding: 0;

            li {
                margin-bottom: 0.6rem;
                
                a {
                    transition: color 0.2s;
                    &:hover {
                        color: v.$text-color;
                    }
                }
            }
        }

        .socialIcons {
            display: flex;
            gap: 1.2rem;
            margin-top: 1rem;

            svg {
                color: v.$primary-color;
                cursor: pointer;
                transition: transform 0.2s, color 0.2s;

                &:hover {
                color: v.$text-color;
                transform: translateY(-3px);
                }
            }
        }
    }

    .footerPolicyLinks {
        text-align: center;
        
        .policy {
            text-decoration: none;
            color: v.$primary-color;
            font: v.$font-text-link;
            position: relative;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    // --- FOOTER BOTTOM (Copyright & Policies) ---
    .footerBottom {
        text-align: center;
        font-size: 0.85rem;
        gap: .5rem;

        @media (min-width: 1024px) {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        p {
            margin: 0;
            opacity: 0.7;
        }
    }

    hr {
        width: 100%;
        border: 0;
        border-top: 1px solid #0b0b0b;
        margin: 1rem 0;
    }
}
