@use '../../styles/variables' as v;

h2 {
    font: v.$font-h2;
}

.requiredStar {
    color: #ff0000;
}

.pageContainer {
    margin: 0 auto;
    padding: 1rem;

    @media (min-width: 768px) {
        max-width: 1200px;
    }

    .breadcrumbs {
        display: flex;
        align-items: center;
        gap: .2rem;
        padding: 1rem;

        a {
            font: v.$font-breadcrumbs;
            text-decoration-line: none;
        }

        span {
            font: v.$font-breadcrumbs;
            color: v.$primary-color;
            &::before {
                content: '→';
                margin-right: 4px;
                color: #7d7d7d;
                font-weight: normal;
            }
        }
    }

    .hero {
        .heroContainer {
            width: 100%;
            overflow: hidden;

            .heroImg {
                width: 100%;
                height: auto;
                display: block;
            }
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        font: v.$font-text;

        .responsibilities {
            .respbold {
                font: v.$font-subtitle;
            }

            ul {
                list-style-type: disc;
                padding-left: 1.5rem;
                
                li {
                    margin-bottom: 0.5rem;
                    line-height: 1.6;
                }
            }
        }

        .contactIntro {
            .inlineLink{
                font: v.$font-text-link;
                color: v.$primary-color;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .formSection {
            background: v.$white;
            width: 100%;
            max-width: 100%;
            box-sizing: border-box;
            padding-bottom: 1rem;
            text-align: center;
        }
    }
}

.readMoreBtn {
    display: inline-block;
    margin-top: 1rem;
    color: v.$primary-color;
    text-decoration: none;
    font-weight: bold;

    &:hover {
        text-decoration: underline;
    }
}

.flexWrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;

    @media (min-width: 768px) {
        flex-direction: row;
        align-items: flex-start;
        gap: 5rem;
    }
}

.topFlexWrapper, .bottomFlexWrapper {
    flex: 50%;
    display: flex;
    flex-direction: column;

    @media (min-width: 768px) {
        align-items: flex-start;
    }
}

@media (min-width: 768px) {
    .bottomFlexWrapper {
        padding-top: 5rem;
    }
}