@use '../../styles/variables' as v;

.siteHeader {
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr;
    background-color: v.$white;
    grid-template-areas: 
        "main"
        "top";
    
    @media (min-width: 768px) {
        padding: 0 1rem 1rem;
        margin: auto;
        max-width: v.$container-max-width;
        grid-template-areas: 
            "top"
            "main";
    }
    
    // --- TOP BAR ---
    .topBar {
        grid-area: top;
        background-color: v.$secondary-color;
        width: 100%;

        @media (min-width: 768px) {
            display: block;
        
            .topBarContainer {
                padding: 0.5rem 1rem;
                margin: 0 auto;
                max-width: v.$container-max-width;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        }

        .secondaryNav {
            background-color: v.$secondary-color;
            display: flex;
            padding: 1rem;
            gap: 1.5rem;
            a {
                text-decoration: none;
                color: v.$primary-color;
                font: v.$font-text-link;
                &:hover { 
                    border-bottom: 2px solid v.$hover-color; 
                }
            }
        }
        .accessTools {
            width: 100%;
            display: flex;
            gap: 1.5rem;
            font: v.$font-accessibility;
            
            a {
                background: none;
                border: none;
                color: v.$primary-color;
                font: v.$font-accessibility;
                text-decoration: none;
                display: flex;
                align-items: center;
                gap: 5px;
                cursor: pointer;

                &:hover { 
                    color: v.$hover-color;
                    text-decoration: underline;
                    border-bottom: 2px solid v.$hover-color; 
                }
            }
        }
    }

    // --- MAIN HEADER ---
    .mainHeader {
        width: 100%;
        grid-area: main;
        padding-bottom: .5rem;

        @media (min-width: 768px) {
            padding: 0;
        }

        .mainHeaderContainer {
            max-width: v.$container-max-width;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            @media (min-width: 768px) {
                flex-direction: row; // För desktop
                justify-content: space-between;
                padding: 1rem;
            }
        }

        .headerTopRow {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            gap: 0.5rem;

            @media (min-width: 768px) {
                padding: 1rem 0;
            }

            // Button (Mobile)
            .menuBtn, .searchBtn {
                flex: 0 0 60px;
                display: flex;
                flex-direction: column;
                align-items: center;
                background: none;
                border: none;
                color: v.$primary-color;
                font: v.$font-accessibility;
                cursor: pointer;

                span { 
                    font: v.$font-span;
                }
            }
            
            .logo {
                flex: 0 1 auto;
                display: flex;
                justify-content: center;
                align-items: center;
                text-decoration: none;

                @media (min-width: 768px) {
                    flex: 1;
                    justify-content: flex-start;
                }

                img {
                    padding-left: 0;
                    height: 40px;

                    @media (min-width: 768px) {
                        height: 50px;
                    }
                }

                .logoText {
                    white-space: nowrap;
                    overflow: hidden;
                    font: v.$font-logotype;
                    color: v.$primary-color;
                    padding-left: 0.8rem;

                    @media (min-width: 768px) {
                        font: v.$font-logotype-desktop
                    }
                }
            }

            .headerActions {
                display: flex;
                justify-content: flex-end;
                flex: 0 0 auto;
            }

            .searchFieldDesktop {
                display: flex;
                align-items: center;
                gap: 1rem;
                $search-height: 42px;

                input {
                    height: $search-height;
                    width: 220px;
                    padding: 0 16px;
                    border: .5px solid v.$primary-color;
                    border-radius: 4px;
                    font-size: 0.95rem;
                    outline: none;
                    transition: border-color 0.2s;

                    &:focus {
                        border-color: v.$primary-color;
                    }

                    &::placeholder {
                        color: #aaa;
                    }
                }
            }
        }
    }

    // --- DESKTOP NAV ---
    .desktopNav {
        display: none;

        @media (min-width: 768px) {
            background-color: v.$secondary-color;
            display: flex;
            padding: 1rem;
            gap: 1.5rem;

            a {
                text-decoration: none;
                color: v.$primary-color;
                font: v.$font-text-link;

                &:hover { 
                    border-bottom: 2px solid v.$hover-color; 
                }
            }
        }
    }
}
