@use '../../styles/variables' as v;

.siteHeader {
    display: grid;
    grid-template-columns: 1fr;
    background-color: v.$white;

    // MOBIL: Definiera ordningen här (Main först, sen Top)
    grid-template-areas: 
        "main"
        "top";

    @media (min-width: 768px) {
        // DESKTOP: Tillgänglighet först, sen logga
        grid-template-areas: 
            "top"
            "main";
    }
    
    // --- TOP BAR ---
    .topBar {
        grid-area: top;
        background-color: v.$secondary-color;
        padding: 0.5rem 0;

        @media (min-width: 768px) {
            display: block;
        
            .topBarContainer {
                padding-right: 1rem;
                margin: 0 auto;
                max-width: v.$container-max-width;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        }

        .accessTools, .secondaryNav {
            display: flex;
            gap: 1.5rem;
            font: v.$font-accessibility;
            
            button, a {
                background: none;
                border: none;
                color: v.$primary-color;
                font: v.$font-accessibility;
                text-decoration: none;
                display: flex;
                align-items: center;
                gap: 5px;
                cursor: pointer;

                &:hover { 
                    color: v.$hover-color;
                    text-decoration: underline;
                    border-bottom: 2px solid v.$hover-color; 
                }
            }
        }
    }

    // --- MAIN HEADER ---
    .mainHeader {
        grid-area: main;
        padding: .5rem 0 1rem 0;

        .mainHeaderContainer {
            display: flex;
            align-items: center;
            padding: 0;
            gap: 1rem;
        }

        .headerTopRow {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;

            @media (min-width: 768px) {
                padding: 1rem 0;
            }

            // Button (Mobile)
            .menuBtn, .searchBtn {
                flex: 0 0 60px;
                display: flex;
                flex-direction: column;
                align-items: center;
                background: none;
                border: none;
                color: v.$primary-color;
                font: v.$font-accessibility;
                cursor: pointer;

                span { 
                    font: v.$font-span;
                }
            }
            
            .logo {
                flex: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                text-decoration: none;

                @media (min-width: 768px) {
                    justify-content: flex-start;
                }

                img {
                    padding-left: 0;
                    height: 40px;

                    @media (min-width: 768px) {
                        height: 50px;
                    }
                }

                .logoText {
                    font: v.$font-logotype;
                    color: v.$primary-color;
                    padding-left: 0.8rem;

                    @media (min-width: 768px) {
                        font: v.$font-logotype-desktop
                    }
                }
            }

            .headerActions {
                display: flex;
                justify-content: flex-end;
                flex: 0 0 auto;
            }

            .searchFieldDesktop {
                display: flex;
                align-items: center;
                gap: 1rem;
                $search-height: 42px;

                input {
                    height: $search-height;
                    width: 220px;
                    padding: 0 16px;
                    border: .5px solid v.$primary-color;
                    border-radius: 4px;
                    font-size: 0.95rem;
                    outline: none;
                    transition: border-color 0.2s;

                    &:focus {
                        border-color: v.$primary-color;
                    }

                    &::placeholder {
                        color: #aaa;
                    }
                }

                button {
                    height: $search-height;
                    padding: 0 .8rem;
                    background-color: v.$secondary-color;
                    color: v.$primary-color;
                    border: none;
                    border-radius: 4px;
                    font: v.$font-btn;
                    letter-spacing: 0.8px;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: background-color 0.2s;

                    &:hover {
                        background-color: v.$hover-color;
                    }

                    span {
                        line-height: 1;
                    }
                }
            }
        }
    }

    // --- DESKTOP NAV ---
    .desktopNav {
        display: none;

        @media (min-width: 768px) {
            background-color: v.$secondary-color;
            display: flex;
            padding: 1rem;
            gap: 1.5rem;

            a {
                text-decoration: none;
                color: v.$primary-color;
                font: v.$font-text-link;

                &:hover { 
                    border-bottom: 2px solid v.$hover-color; 
                }
            }
        }
    }
}
