// Colors
$primary-color: #000183;
$secondary-color: #FFE8DD;
$hover-color: #6e2e8c3d;
$text-color: #1f1f1f;
$white: #ffffff;
$black: #090909;
$border-radius: 8px;
$transition: all 0.3s ease;
$hero-title-bg: #e8f3ffef;

// Typography
$font-main: 'Arial', sans-serif;
$font-heading: 'Alwyn', sans-serif;
$font-logotype: bold 19px 'Alwyn', sans-serif;
$font-logotype-desktop: bold 1.5rem 'Alwyn', sans-serif;
$font-hero-title: bold 21px/33.6px 'Arvo', sans-serif;
$font-hero-title-desktop: bold 2rem/48px 'Arvo', sans-serif;
$font-accordion-header: bold 22px/35.2px 'Arial', sans-serif;
$font-h2: bold 32px/44px 'Arvo', sans-serif;
$font-accessibility: bold 16px/25.6px 'Arial', sans-serif;
$font-h3: bold 24px/28px 'Alwyn', sans-serif;
$font-span: bold 16px/24px 'Arial', sans-serif;
$font-btn: bold 18px/24px 'Roboto', sans-serif;
$font-text-link: bold 18px/28.8px 'Arial', sans-serif;
$font-text: 1rem/1.5rem 'Roboto', sans-serif;
$font-breadcrumbs: normal 14px/22px 'Arial', sans-serif;
$font-citat: normal 18px/28px 'Arial', sans-serif;
$font-subtitle: bold 24px/28.8px 'Arial', sans-serif;
$font-label: bold 14px 'Arial', sans-serif;
$font-timeTag: normal .85rem 'Arial', sans-serif;
$font-textarea: normal 1rem 'Arial', sans-serif;
$font-author: bold 1.2rem 'Arial', sans-serif;
$font-role: italic .8rem 'Arial', sans-serif;

// Layout
$container-max-width: 1200px;
$border-radius: 8px;
$transition: all 0.3s ease;
